<!--The content below is only a placeholder and can be replaced.-->
<div class="b_rep_wrapper">

  <div style="color:#0097A7;">{{ time | async }}</div>

  <div class="b_rep_header" *ngIf="DocumentConfigurations.b_report_header_visible">
    <header *ngIf="DocumentConfigurations.b_report_header_Layout ===1">
      <div class="row">
        <div class="col">
          <img [src]="DocumentConfigurations.Report_Image_Url" data-holder-rendered="true" [width]="DocumentConfigurations.Report_Image_Width"
            [height]="DocumentConfigurations.Report_Image_Height" />
        </div>
        <div class="col push-text-to-right" *ngIf="DocumentConfigurations.Header_List">
          <div *ngFor="let element of this.DocumentConfigurations.Header_List">
            <span class="field_caption">{{element.Field_Caption}}</span>
            <span>{{element.Field_Separator}}</span>
            <span class="field_value">{{element.Field_value}}</span>
            <span *ngIf="element.Field_Suffix_Off">{{element.Field_Suffix}}</span>
          </div>
        </div>
      </div>
    </header>
  </div>

  <div class="b_page_header" *ngIf="DocumentConfigurations.b_page_header_visible">

    <div class="row">
      <div class="col" *ngIf="DocumentConfigurations.Header_List">
        <div *ngFor="let element of this.DocumentConfigurations.Header_List">
          <span class="field_caption">{{element.Field_Caption}}</span>
          <span>{{element.Field_Separator}}</span>
          <span class="field_value">{{element.Field_value}}</span>
          <span *ngIf="element.Field_Suffix_Off">{{element.Field_Suffix}}</span>
        </div>
      </div>
      <div class="col push-text-to-right" *ngIf="DocumentConfigurations.Header_List">
        <div *ngFor="let element of this.DocumentConfigurations.Header_List">
          <span class="field_caption">{{element.Field_Caption}}</span>
          <span>{{element.Field_Separator}}</span>
          <span class="field_value">{{element.Field_value}}</span>
          <span *ngIf="element.Field_Suffix_Off">{{element.Field_Suffix}}</span>
        </div>
      </div>
    </div>

  </div>
  <div class="b_details">
    <!-- Simple Tabular data Mode -->
    <ng-container *ngIf="ReportMode ===1">
      <table class="table table-striped">
        <thead>
          <tr>
            <th *ngFor="let item of Report_Details.Property_Headers; let a = index"> {{item.Field_Text}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let expitem of Report_Details.Property_Data; let a = index">
            <td *ngFor="let item of expitem | keyvalue"> {{ item.value }} </td>
          </tr>
        </tbody>
      </table>
    </ng-container>
    <ng-container *ngIf="ReportMode ===2">
      Group BY reportingdd
      <div *ngFor="let item of Group_Colelction_With_summary.Arr1">
        <h2 style="border-bottom:1px solid black ">{{item.key}}</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th *ngFor="let item of Report_Details.Property_Headers; let a = index"> {{item.Field_Text}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let expitem of item.value ">
              <td *ngFor="let item of expitem | keyvalue"> {{ item.value }} </td>
            </tr>
          </tbody>
        </table>
        <div>
            <h3 class="push-text-to-right" style="border-top:1px solid black;border-bottom:1px solid black;">{{Filer_Summary(item.key)}}</h3>
        </div>
        

      </div>
    </ng-container>

  </div>

  <div class="b_page_footer" *ngIf="DocumentConfigurations.b_page_fotter_visible">
    <h3></h3>
  </div>

  <div class="b_report_header" *ngIf="DocumentConfigurations.b_report_footer_visible">
    <h3>Report Header</h3>
  </div>
</div>