<!--The content below is only a placeholder and can be replaced.-->
<div class="b_rep_wrapper">
  <div class="b_rep_header" *ngIf="DocumentConfigurations.b_report_header_visible">
    <header *ngIf="DocumentConfigurations.b_report_header_Layout ===1">
      <div class="row">
        <div class="col">
          <img [src]="DocumentConfigurations.Report_Image_Url" data-holder-rendered="true" [width]="DocumentConfigurations.Report_Image_Width"
            [height]="DocumentConfigurations.Report_Image_Height" />
        </div>
        <div class="col push-text-to-right" *ngIf="DocumentConfigurations.Header_List">
          <div *ngFor="let element of this.DocumentConfigurations.Header_List">
            <span class="field_caption">{{element.Field_Caption}}</span>
            <span>{{element.Field_Separator}}</span>
            <span class="field_value">{{element.Field_value}}</span>
            <span *ngIf="element.Field_Suffix_Off">{{element.Field_Suffix}}</span>
          </div>
        </div>
      </div>
    </header>
  </div>

  <div class="b_page_header" *ngIf="DocumentConfigurations.b_page_header_visible">

    <div class="row">
      <div class="col" *ngIf="DocumentConfigurations.Header_List">
        <div *ngFor="let element of this.DocumentConfigurations.Header_List">
          <span class="field_caption">{{element.Field_Caption}}</span>
          <span>{{element.Field_Separator}}</span>
          <span class="field_value">{{element.Field_value}}</span>
          <span *ngIf="element.Field_Suffix_Off">{{element.Field_Suffix}}</span>
        </div>
      </div>
      <div class="col push-text-to-right" *ngIf="DocumentConfigurations.Header_List">
        <div *ngFor="let element of this.DocumentConfigurations.Header_List">
          <span class="field_caption">{{element.Field_Caption}}</span>
          <span>{{element.Field_Separator}}</span>
          <span class="field_value">{{element.Field_value}}</span>
          <span *ngIf="element.Field_Suffix_Off">{{element.Field_Suffix}}</span>
        </div>
      </div>
    </div>

  </div>
  <div class="b_details">
    <table class="table table-striped">
        <thead>
          <tr> 
            <th *ngFor="let item of evilResponseProps; let a = index" > {{item}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let expitem of expx; let a = index">
            <td *ngFor="let expitem_child of createRange(5); let currentElementIndex=index" > 
              {{expitem|json}} {{expitem_child}} {{expitem[0]}}
            </td>
          </tr>
        </tbody>
      </table>
  </div>

  <div class="b_page_footer" *ngIf="DocumentConfigurations.b_page_fotter_visible">
    <h3>Page footer</h3>
  </div>

  <div class="b_report_header" *ngIf="DocumentConfigurations.b_report_footer_visible">
    <h3>Report Header</h3>
  </div>
</div>